{% extends 'shared/layout.html' %}
{% block content %}
    <div id="gray">
        <div class="header">Change password</div>
        <form id="user-form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="user-form">
                <label class="required" for="user_name">Old password:</label>
                <input id="password_old" name="password_old" type="password" />
                <label class="required" for="password">New password:</label>
                <input id="password" name="password" type="password" />
                <label class="required" for="password">Confirm password:</label>
                <input id="password_c" name="password_c" type="password" />
            </div>
            <div class="val"></div>
                <label>&nbsp;</label><input type="submit" value="sign up" />

        </form>
    </div>
{% endblock %}